{#
	{% include '@partial-pagination' with {
		title: 'Title',
		pages: 50
	} %}
#}
<!-- Pagination -->
<div class="pagination">
	<nav class="pagination_nav" aria-label="{{ title }}">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">{{ icon('caret_left') }}</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">{{ icon('caret_right') }}</span>
		</a>
	</nav>
	<form class="pagination_form" action="#" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
					{% for i in 1..pages %}
						<option value="{{ i }}">{{ i }}</option>
					{% endfor %}
				</select>
				<span class="pagination_form_select_icon">{{ icon('expand') }}</span>
			</div>
			<span class="pagination_form_suffix">of {{ pages }}</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">Go</button>
		</div>
	</form>
</div>
<!-- END: Pagination -->