{#
	{% render '@partial-meta' %}

	Google Maps, Find the ID of a particular place - https://developers.google.com/places/place-id
#}
<div class="meta_info" id="meta_info">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': '{{ config.schema_type }}',
			'name': '{{ config.name }}',
			'logo': '//{{ config.domain }}/images/logo-schema.png',
			'address': {
				'@type': 'PostalAddress',
				'streetAddress': '{{ config.street }}',
				'addressLocality': '{{ config.city }}',
				'addressRegion': '{{ config.state }}',
				'postalCode': '{{ config.zip }}"
			},
		{% if config.email %}'email': '{{ config.email }}',
		{% endif %}
		{% if config.phone %}'telephone': '{{ config.phone }}',
		{% endif %}
		'url': '//{{ config.domain }}',
		{% if navigation.social %}
			'sameAs': [
			{% for social in navigation.social %}
				'{{ social.url }}'
				{% if not loop.last %},
				{% endif %}
			{% endfor %}
			]
		{% endif %}
		}
	</script>
	<div class="meta_info_details">
		<div class="meta_info_detail meta_info_detail_address">
			<span class="meta_info_address_name">{{ config.name }}</span>
			<a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:{{ config.place_id }}" target="_blank" rel="noopener">
				<span class="meta_info_address_street">{{ config.street }}</span>
				<span class="meta_info_address_group">
					<span class="meta_info_address_city">{{ config.city }},</span>
					<span class="meta_info_address_state">{{ config.state }}</span>
					<span class="meta_info_address_zip">{{ config.zip }}</span>
				</span>
			</a>
		</div>
	</div>
</div>
