{#
	{% include '@partial-news-meta' with {
		item: {
			categories: [
				{
					label: 'Category',
					url: '#'
				}
			],
			date: '2019-01-01 17:00:00',
			author: 'Author'
		}
	} %}
#}
<!-- News Meta -->
<div class="news_meta" id="meta" data-type="news" data-category="{% for category in item.categories %}{{ category.label }}{% if not loop.last %}, {% endif %}{% endfor %}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_meta_inner">
				<div class="news_meta_body">
					{% if item.date or item.author %}
						<div class="news_meta_details">
							{% if item.date %}
								<div class="news_meta_detail news_meta_date">
									<span class="news_meta_detail_hint">Published:&nbsp;</span>
									<time class="news_meta_detail_label" datetime="{{ item.date }}">{{ item.date|date('F j, Y') }}</time>
								</div>
							{% endif %}
							{% if item.author %}
								<div class="news_meta_detail news_meta_author">
									<span class="news_meta_detail_hint">- by&nbsp;</span>
									<span class="news_meta_detail_label">{{ item.author }}</span>
								</div>
							{% endif %}
						</div>
					{% endif %}
					{% if item.categories %}
						<div class="news_meta_categories_block">
							<span class="news_meta_categories_icon">{{ icon('label') }}</span>
							<ul class="news_meta_categories" aria-label="Categories">
								{% for category in item.categories %}
									<li class="news_meta_category">
										<a class="news_meta_category_link" href="{{ category.url }}">{{ category.label }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
				<div class="news_meta_share">
					{% include '@partial-share' with {
						title: 'Share This',
						direction: 'left',
						icon: '',
						items: ['Twitter', 'Facebook', 'Linkedin']
					} %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: News Meta -->