{#
	{% include '@partial-filter' with {
		label: 'Directory',
		active: 'search',
		action_category: '#',
		action_search: '#',
		tools: [
			{
				label: 'Category',
				options: [
					{
						label: 'All Categories',
						label: true
					}
				]
			}
		],
		search_placeholder: 'Placeholder',
		results: '',
		category: ''
	} %}
#}
<!-- Filter -->
<div class="filter">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="filter_inner">
				<div class="filter_tabs" role="tablist" aria-label="{{ label }} Filtering">
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_tools" data-swap-group="filter_tabs" {% if active != 'search' %} data-swap-active="true" {% endif %} data-swap-options='{"collapse": false}'>Filter</button>
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_search" data-swap-group="filter_tabs" {% if active == 'search' %} data-swap-active="true" {% endif %} data-swap-options='{"collapse": false}'>Search</button>
				</div>
				<div class="filter_panels">
					<div class="filter_tabpanel filter_tabpanel_tools" role="tabpanel">
						<form class="filter_tools" action="{{ action_category }}" method="get">
							{% for tool in tools %}
								<div class="filter_tool">
									<label class="filter_label" for="filter_tool_label_{{ loop.index }}">{{ tool.label }}</label>
									<div class="filter_tool_select_wrapper">
										<select class="filter_tool_select" id="filter_tool_label_{{ loop.index }}">
											{% for option in tool.options %}
												<option value="{{ option.label }}" {% if option.selected == true %} selected {% endif %}>{{ option.label }}</option>
											{% endfor %}
										</select>
										<span class="filter_tool_select_icon">{{ icon('expand') }}</span>
									</div>
								</div>
							{% endfor %}
							<div class="filter_tool">
								<button class="filter_tools_submit" type="submit">Submit</button>
							</div>
						</form>
					</div>
					<div class="filter_tabpanel filter_tabpanel_search" role="tabpanel">
						<form class="filter_search" action="{{ action_search }}" method="get">
							<label class="filter_label" for="filter_search_input">Search</label>
							<div class="filter_search_form">
								<input class="filter_search_input" id="filter_search_input" type="search" placeholder="{{ search_placeholder }}">
								<button class="filter_search_submit" type="submit">
									<span class="filter_search_submit_label">Submit</span>
									<span class="filter_search_submit_icon">{{ icon('search') }}</span>
								</button>
							</div>
						</form>
					</div>
				</div>
				{% if results != '' %}
					<div class="filter_results">
						<p class="filter_results_description">
							<span class="filter_results_label">{{ results }} Results found for:</span>
							<span class="filter_results_category">{{ category }}</span>
						</p>
						<div class="filter_results_action">
							{% include '@partial-link' with {
								class: 'filter_results_reset',
								title: 'Reset',
								url: 'page-news-listing.html',
								icon: 'reset'
							} %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!-- END: Filter -->